@use '../../../styles/partials/variables' as v;

.icon-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: v.$icon-chip-size;
  height: v.$icon-chip-size;
  cursor: default;

  img,
svg {
  width: 32px;
  height: 32px;
  object-fit: contain;
  }
}

a.icon-chip {
  cursor: pointer;
}