@use '../../../styles/partials/variables' as v;

.icon-chip {
  display: flex;
  align-items: center;
  justify-content: left;
  width: v.$icon-chip-size;
  height: v.$icon-chip-size;

  img,
svg {
  width: 32px;
  height: 32px;
  object-fit: contain;
  }
}

.icon-chip-red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: v.$icon-chip-size;
  height: v.$icon-chip-size;
  background-color: v.$color-primary;
  border-radius: v.$radius-icon-chip;
  color: v.$color-white;

  img, svg {
    width: 24px;
    height: 24px;
    stroke-width: 2px;
  }
}